

<div class="logout" >
  
  <p> Hi! 
    {{#if user.name}}
    {{user.name}}  
    {{else}}
    User
    {{/if}}

  </p>
  
  <form action="/users/logout" method="POST">
    <button type="submit">Log out</button>
  </form>
</div>