<div class="create-container" >
<form  action="/restaurants" method="POST" class="form" novalidate>


<div class="create-form">
  <label>*餐廳名稱 :  
  <input id="name" type="text" placeholder="Enter name... " name="name" minlength="2" maxlength="40" required >
  <div class="valid-feedback">
    OK!
  </div>
  <div class="invalid-feedback">
    Please enter 2 ~ 40 chars
  </div>
</div>


<div class="create-form">
  <label>*英文名稱 : 
    <input id="name-en" type="text" placeholder="Full English Name" name="name_en" minlength="2" maxlength="40"   pattern="^[a-zA-Z0-9]+$" required >
      <div class="valid-feedback">
        OK!
      </div>
      <div class="invalid-feedback">
        Please enter 2 ~ 40 chars
      </div>
</div>


<div class="create-form">
  <label>*分類 : 
    <select  id="category"  name="category" required>
      <option value="" selected disabled>--請選擇一個選項--</option>
      <option>中東料理</option>
      <option>日本料理</option>
      <option>義式餐廳</option>
      <option>美式</option>
      <option>酒吧</option>
      <option>咖啡</option>
      <option>台式料理</option>
      <option>越南料理</option>
      <option>韓式料理</option>
      <option>飲料店</option>
      <option>零食甜點</option>
    </select>
</div>
<div class="create-form">
  <label>*圖片網址 : 
    <input id="image" type="text" placeholder="Enter imageURL... " name="image"  class="custom-input" required >
</div>
<div class="create-form">
  <label>*地址 : 
    <input id="location" type="text" placeholder="Enter location... " name="location" class="custom-input" maxlength="250"  required>
</div>
<div class="create-form">
  <label>電話 : 
    <input id="phone" type="text" placeholder="Enter phone... " minlength="9" maxlength="10" name="phone" pattern="^[0-9]+$">
</div>
<div class="create-form">
  <label>Google 地圖網址 : 
    <input id="google-map" type="text" placeholder="Enter google map... " name="google_map"   class="custom-input" maxlength="250"  >
</div>

<div class="create-form">
  <label>*評分 : 
    <input id="rating" type="number" min="1" max="5" step="0.1" placeholder="1~5" name="rating" required>
</div>
<div class="create-form">
  <label>*餐廳介紹 : 
    <textarea id="description" rows="5" cols="80" placeholder="Enter description... " name="description" required></textarea>
</div>


<button type="submit"> 送出 </button>
</form>
</div>




<button class="back"><a href="/restaurants" class="back"> ↩️</a></button>


<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>


<script src="/javascripts/main.js"></script>

<script>


  let nameValid=false
  let name_enValid=false
  let categoryValid=false
  let ImgValidity=false
  let locationValidity=false
  let phoneValidity=false
  let google_mapValidity=false
  let ratingValidity=false
  let descriptionValidity=false


  const form=document.querySelector('.form')
  form.addEventListener('input', function (event){
    const target= event.target
    const input = target.id;
    target.classList.add('was-validated')
    if (input==='name'){
      checkNameValidity(target)
    }
    else if (input==='name-en'){
      checkNameEnValidity(target)
    }else if (input==='category'){
      checkSelect(target)
    }else if (input==='location'){
      checkLocationValidity(target)
    }else if (input==='phone'){
      checkPhoneValidity(target)
    }else if (input==='description'){
      checkDescriptionValidity(target)
    }

{{!-- 
  const validFeedback =  target.nextElementSibling
  const invalidFeedback = validFeedback.nextElementSibling --}}
  

  })

  form.addEventListener('change', function (event) { //等焦點離開才處理
      const target = event.target
      const input = target.id;
      target.classList.add('was-validated')
      console.log(input)  
      if (input === 'image') {
        checkImgValidity(target)
      }
      else if (input === 'rating') { //評分有特別處理 ,若馬上處理會無法使用小數 
        checkRatingValidity(target)
       }
      else if (input === 'google-map'){
        checkMapValidity(target)
      }
   })

  function checkNameValidity(target){
      if (target.value.length < 3 || target.value.length >15){
        target.classList.remove('valid')
        name_Valid =false
      }
      else {
        target.classList.add('valid')
        name_Valid =true
      }
  }
    function checkNameEnValidity(target){
        if (target.value.length < 3 || target.value.length >30) {
          target.classList.remove('valid')
          name_enValid = false
        }
        else {
          target.classList.add('valid')
          name_enValid = true
        }
  }
  function checkSelect(target){
      if (target.value){
        target.classList.add('valid')
        categoryValid=true
      }
  }

  function checkImgValidity(target){
    const url=target.value
    let image=new Image()
    image.onload = function (){
      target.classList.add('valid')
    }
    image.onerror=function(){
     target.classList.remove('valid')
    }
    image.src=url
  }

  function checkLocationValidity(target){
    if (target.value.length<=10 || target.value.length >= 100){
      target.classList.remove('valid')
      locationValidity=false
    }else{
      target.classList.add('valid')
      locationValidity = true
    }
  }
  function checkPhoneValidity(target){
    if (target.value.length <9 || target.value.length >10) {
      target.classList.remove('valid')
      phoneValidity = false
    } else {
      target.classList.add('valid')
      phoneValidity = true
    }
  }
  function checkRatingValidity(target){
    let rating = parseFloat(Number(target.value).toFixed(1)) 
    console.log(rating)
    if (rating<1 || rating>5) {
      target.classList.remove('valid')
      ratingValidity = false
    } else {
      target.classList.add('valid')
      ratingValidity = true
    }
    target.value=rating
  }
  function checkDescriptionValidity(target){
      if (target.value.length<10 || target.value.length>200){
        target.classList.remove('valid')
        descriptionValidity = false
      }else {
        target.classList.add('valid')
        descriptionValidity = true
      }
  }

  async function checkMapValidity(target){
    const url =target.value
    if (url.startsWith('https://goo.gl/maps/')){
       target.classList.add('valid')
       google_mapValidity = true
       return 
    }else if (url.startsWith('https://www.google.com/maps')){
    await isURLvalid(url).then((result)=>{
        if (result){
          target.classList.add('valid')
          google_mapValidity = true
        }else {
          target.classList.remove('valid')
          google_mapValidity = false
        }
    }).catch(err=>{ console.log(err + "fail from checkMap") })
    }
    else{
      target.classList.remove('valid')
      google_mapValidity = false
    }
    }


  form.addEventListener('submit',function (event){
    if (!(nameValid&&name_enValid&&ImgValidity &&locationValidity&&phoneValidity && google_mapValidity
    &&ratingValidity &&descriptionValidity)){
      event.preventDefault()
      event.stopPropagation()
      alert('有東西沒寫') 
    }
  })

</script>

