{{>message}}

<h1>Log in </h1>

<form action="/users/login" method="POST">

<label for="">
  email
  <input type="text" name="email">
</label>
<div></div>
<label for="">
  password
  <input type="text" name="password">
</label>
<div></div>
<button type="submit">Submit</button>

</form>

<a href="/users/register">Don't have an account ? register</a>