{{>logout}}
{{>message}}
{{>back}}
<div class="profile-container">
  <h1>Profile</h1>
  
  <p>Name : {{name}} </p>
  <p>Email : {{email}}</p>
  <p>You are register with : {{role}}</p>
  <button onclick="location.href='/profile/edit'">Edit my profile </button>

</div>