{{>message}}

<div class="register-container">
<h1>Register </h1>
<form action="/users/register" method="POST">
<label for="">
  email
  <input type="text" name="email">
</label>
<div></div>
<label for="">
  name
  <input type="text" name="name" id="">
</label>
<div></div>
<label for="">
  password
  <input type="text" name="password">
</label>
<div></div>
<label for="">
  confirm password
  <input type="text" name="confirm_password">
</label>
<div></div>
<button type="submit">Submit</button>
</form>

<a href="/users/login">Already have an account ? log in</a></div>
